.cajaCard {
  width: 220px;
  height: 300px;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-galaxia-realista_23-2148991322.jpg");
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 1px 23px 25px rgba(255, 6, 220, 0.62);
  -webkit-box-shadow: 0px 1px 23px 25px rgba(255, 6, 220, 0.62);
  -moz-box-shadow: 0px 1px 23px 25px rgba(255, 6, 220, 0.62);
  transition: 1s;
}

.cajaCard:hover {
  box-shadow: 0px 1px 23px 25px rgba(74, 204, 21, 0.62);
  -webkit-box-shadow: 0px 1px 23px 25px rgba(74, 204, 21, 0.62);
  -moz-box-shadow: 0px 1px 23px 25px rgba(74, 204, 21, 0.62);
}

.cardName,
.cardSpecies,
.cardGender {
  width: 80%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 0px;
  margin: 5px 10%;
  border-radius: 10px;
}

.cardImage {
  width: 80%;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 auto;
}

.cardOnClick {
  position: relative;
  right: -70px;

  border: 1px solid black;
  border-radius: 50%;

  font-size: 10px;

  background-color: blueviolet;
  color: white;
}
