.searchContainer {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-galaxia-realista_23-2148991322.jpg");
  width: 350px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border-radius: 10px;

  box-shadow: 0px 1px 23px 25px rgba(255, 6, 220, 0.62);
  -webkit-box-shadow: 0px 1px 23px 25px rgba(255, 6, 220, 0.62);
  -moz-box-shadow: 0px 1px 23px 25px rgba(255, 6, 220, 0.62);
}

.searchContainer button{
   font-family: "Rick-and-Morty";
    border-radius: 10px;
    color: white;
    background-color: blueviolet;
    width: 30%;
    font-size: 14px;
}   
